// Some basic padding for all wrappers
.wrapper {
	padding: $grid-gutter-width 0;
}

// Reset hero wrapper padding to 0
#wrapper-hero {
	padding: 0px !important;
}

// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor {
	font-size: inherit;
}

// Separate sticky wrapper from main content
.wrapper#wrapper-sticky {
	border-bottom: 1px solid $gray-300;
}

// Adding some contrast background color to footer full widget
#wrapper-footer-full,
#wrapper-static-hero {
	background-color: $gray-200;
}

// Necessary WP classes
.wp-caption {
	font-size: inherit;
}

.wp-caption-text {
	font-size: inherit;
}

.screen-reader-text {
	@extend .visually-hidden;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	@extend .mx-auto,
	.d-block;
}

.widget_categories,
.widget_archive {
	select {
		//@extend .form-control;
	}
}

// Post design
.entry-footer span {
	padding-right: 10px;
}

img.wp-post-image,
article img,
figure,
img,
#secondary img {
	max-width: 100%;
	height: auto;
}

// Skip to content link
a.skip-link {
	position: fixed;
	z-index: 1000;
	top: 0px;
	right: 0px;
}

// Reset Jumbotron default margin
.jumbotron {
	margin-bottom: 0px;
}

// Dropdown translation
// .navbar-dark .navbar-nav .dropdown-menu .nav-link {
// 	display: block;
// 	width: 100%; // For `<button>`s
// 	padding: $dropdown-item-padding-y $dropdown-item-padding-x;
// 	clear: both;
// 	font-weight: $font-weight-normal;
// 	color: $dropdown-link-color !important;
// 	text-align: inherit; // For `<button>`s
// 	white-space: nowrap; // prevent links from randomly breaking onto new lines
// 	background: none; // For `<button>`s
// 	border: 0; // For `<button>`s

// 	@include hover-focus {
// 		color: $dropdown-link-hover-color !important;
// 		text-decoration: none;
// 		background-color: $dropdown-link-hover-bg;
// 	}

// 	&.active,
// 	&:active {
// 		color: $dropdown-link-active-color !important;
// 		text-decoration: none;
// 		background-color: $dropdown-link-active-bg;
// 	}

// 	&.disabled,
// 	&:disabled {
// 		color: $dropdown-link-disabled-color !important;
// 		background-color: transparent;

// 		// Remove CSS gradients if they're enabled
// 		@if $enable-gradients {
// 			background-image: none;
// 		}
// 	}
// }

// .navbar-light .navbar-brand a {
// 	color: $navbar-light-active-color;

// 	@include hover-focus {
// 		color: $navbar-light-active-color;
// 	}
// }

// .navbar-dark .navbar-brand a {
// 	color: $navbar-dark-active-color;

// 	@include hover-focus {
// 		color: $navbar-dark-active-color;
// 	}
// }

// .navbar h1 {
// 	font-weight: $font-weight-normal;
// }

// Galleries
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: floor( percentage( 1 / $i ) * 100 ) / 100;
		}
	}
}
.gallery-caption {
	display: block;
}


/*	UTILITY / HELPER
-------------------------------------------- */

.clear {
	clear: both;
}

.hide {
  display: none;
}

.noclip {
	white-space: nowrap;
}

.min-height {
	min-height: 280px;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

pre { // use <pre> to debug code
	border: 1px solid $color-secondary;
	padding: 1rem;
	background-color: lighten($color-primary, 60%);
	color:  $color-text;
	max-height: 480px;
	overflow-y: scroll;
}

button {
	border: none;
	padding: none;
}


.fluid-width-video-wrapper {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
  }

  .fluid-width-video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
