/* Theme Variables */
$primary: #1a6c7a;
$secondary : #9C9657;
$color-text: #153243;
$white: #ffffff;
$black: #000000;


$color-primary: $primary;
$color-secondary: $secondary;
$link-color: $secondary;


$colors: (
	primary: $primary,
	secondary: $secondary,
	text: $color-text,
	white: $white,
	black: $black
);

@mixin color-modifiers($attribute: 'color') {
  @each $name, $hex in $colors {
    &--#{$name} {
      #{$attribute}: $hex;
    }
  }
}

.color {
  @include color-modifiers;
}

.bg-color {
	@include color-modifiers('background-color');
}


$nav-height:  125px;
$site-width: 1183px;
$footer-height: 372px;



// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.


$spacer: 1rem ;
$spacers: (
	0: 0,
	1: ($spacer * .25), //4px
	2: ($spacer * .5), //8px
	3: $spacer,	//16px
	4: ($spacer * 1.5), //24px
	5: ($spacer * 2), // 32px
	6: ($spacer * 2.5), // 40px
	7: ($spacer * 3), // 58px
	8: ($spacer * 4), // 64px
	9: ($spacer * 5), // 80px
	10: ($spacer * 6), // 96px
	11: ($spacer * 6.25) // 100px
) ;



// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white;
$body-color:                $color-text;


// Links
//
// Style anchor elements.

$link-color:                             	$secondary;
$link-decoration:                         none;
$link-hover-color:                        darken($link-color, 15%);
$link-hover-decoration:                   none;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15%;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
	xxl: 1400px
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
	sm: 540px,
  md: 760px,
  lg: 980px,
  xl: 1183px,
	xxl: 1320px
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12;
$grid-gutter-width:           1.5rem;
$grid-row-columns:            6;

$gutters: $spacers;

// Links
//
// Style anchor elements.

$link-color:                              $primary;
$link-decoration:                         none;
$link-hover-color:                        darken($link-color, 15%);
$link-hover-decoration:                   underline;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15%;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   1rem;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-primary:  Helvetica, Arial, sans-serif;
$font-secondary:  Helvetica, Arial, sans-serif;

$font-family-sans-serif:      $font-primary;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;
// stylelint-enable value-keyword-case




// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-primary:  Helvetica, Arial, sans-serif;
$font-secondary:  Helvetica, Arial, sans-serif;
// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif:      $font-primary, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// stylelint-enable value-keyword-case
$font-family-base:            $font-primary;
$font-family-code:            $font-primary;

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root:              null;
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 1.25;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;

$line-height-base:            1.5;
$line-height-sm:              1.25;
$line-height-lg:              2;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;
// scss-docs-end font-variables

// scss-docs-start font-sizes
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);
// scss-docs-end font-sizes

// scss-docs-start headings-variables
$headings-margin-bottom:      $spacer * .5;
$headings-font-family:        null;
$headings-font-style:         null;
$headings-font-weight:        500;
$headings-line-height:        1.2;
$headings-color:              null;
// scss-docs-end headings-variables

// scss-docs-start display-headings
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$display-font-weight: 300;
$display-line-height: $headings-line-height;
// scss-docs-end display-headings

// scss-docs-start type-variables
$lead-font-size:              $font-size-base * 1.25;
$lead-font-weight:            300;

$small-font-size:             .875em;

$sub-sup-font-size:           .75em;


$initialism-font-size:        $small-font-size;

$blockquote-margin-y:         $spacer;
$blockquote-font-size:        $font-size-base * 1.25;

$blockquote-footer-font-size: $small-font-size;
