/*	TYPOGRAPHY
-------------------------------------------- */







/* Headings */

h1, .h1, h2, .h2, h3, .h3 {

}

h4, .h4, h5, .h5, h6, .h6 {

}


/* Lists */

ul, ol {

  > li {

  }
}

dl {

  > dt {

  }

  > dd {

  }
}

a {

}
a:hover{
	text-decoration: none;
}


//In inc/editor-styles.php //
.text--title-section-three {}
.text--title-section-two {}
.text--title-section {}

.text--caps-small {}
.text--body {}
.text--intro {}

/* Quotes */

blockquote {
  max-width: 720px;
  padding-left: 40px;
  font-family: $font-family-sans-serif;
  font-style: italic;
  color: $gray-700;
}


/*	WORDPRESS: IMAGE CLASSES
-------------------------------------------- */



.img-border {
  padding: 4px;
  border: 1px solid $gray-400; // theme-color("light");
}

.alignleft {
	float: left;
  margin: 0 1rem 0.6rem 0;
}

.aligncenter {
  display: block;
  width: auto;
	margin: 0 auto;
}

.alignright {
	float: right;
	margin: 0 0 0.6rem 1rem;
}

img.attachment-thumbnail {
	max-width: none;
}

.wp-caption {
  position: relative;
  margin: 0 0 1rem 0;

  > img {

  }

  > .wp-caption-text {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: $font-size-base;
    padding: 0.5em 1em;
    background-color: rgba(black, 0.5);
    color: white;
  }
}



/*	IFRAMES
-------------------------------------------- */

iframe {

  // YouTube video player

}
