.button {
	@include button;
}

.button--dark {
	@extend .button;
	color: $white;
	background-color: $color-primary;
	border: 2px solid $color-primary;
	&:hover{
		@include transition;
		color: $color-primary;
		background-color: $white;
		border: 2px solid $color-primary;
		text-decoration: none;
	}
}

.button--light {
	@extend .button;
	&:hover{
		@include transition;
		color: $white;
		background-color: $color-primary;
		border: 2px solid $color-primary;
		text-decoration: none;
	}
}


