#site-footer {
    //margin-top: 80px;
    padding-top: 48px;
    padding-bottom: 47px;
    #footer-bottom {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media(min-width: 768px) {
            flex-direction: row;
        }
        img{
            padding: 10px 0px;
            @media(min-width: 990px) {
                padding: 0px 40px 0px 0px;
            }
        }
        .copyright{
            color: $primary;
        }
        >div:nth-child(2) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            padding-top: 40px;
            @media(min-width: 768px) {
                padding-top: 0px;
                align-items: flex-end;
                justify-content: flex-end;
            }
        }
    }
    .footer-sep {
        height: 1px;
        width: 100%;
        background-color: #ffffff;
        opacity: .8;
        margin-top: 35px;
        margin-bottom: 44px;
    }
    #footer-top{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media(min-width: 768px) {
            flex-direction: row;
        }

        ul{
            list-style-type: none;
            margin:0;
            display: flex;
            flex-direction: column;
            @media(min-width: 768px) {
                flex-direction: row;
            }
            li {
                margin-bottom: 10px;
                margin-right: 60px;
                &:first-child{
                    padding-left: 0;
                }
            }
        }
    }
}
