@media(min-width: 768px) {
	.sub-menu-show ul.dropdown-menu{
		display: block;
	}
}

	.sub-menu-show--mobile ul.dropdown-menu{
		display: block;
	}



.header-navigation--logo {
	flex-grow: 1;
	z-index: 3;
	img {
		max-width: 100px;
	}
}

#header-navigation--toggle {
	z-index: 3;
	width: 26px;
	height: 21px;
	position: relative;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $black;
		border-radius: 2px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	}
	span:nth-child(1) {
		top: 0px;
		}
	span:nth-child(2),
	span:nth-child(3) {
		top: 8px;
		}
	span:nth-child(4) {
		top: 16px;
	}
	&:not(.active) span:nth-child(1) {
		top: 18px;
		width: 0%;
		left: 50%;
		}
	&:not(.active) span:nth-child(2) {
		transform: rotate(45deg);
		}
	&:not(.active) span:nth-child(3) {
		transform: rotate(-45deg);
		}

	&:not(.active) span:nth-child(4) {
		top: 18px;
		width: 0%;
		left: 50%;
		}
	@media(min-width: 768px) {
		display: none;
	}
}


@media(max-width: 767px) {
.popover-navigation--menu {
	height: 100%;
    position: fixed;
    top: 0;
    right: -400px;
    background-color: #eb7360;
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
    z-index: 2;
}


.popover-navigation--menu.active {
    right: 0;
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
}
