

// .has-blue-color
// .has-blue-background-color


@mixin color-modifiers-gutenberg($attribute: 'color') {
	@each $name, $hex in $colors {
	  &-#{$name}-color {
		#{$attribute}: $hex;
	  }
	}
  }

.has {
	@include color-modifiers-gutenberg;
}



@mixin color-bg-modifiers-gutenberg($attribute: 'color') {
	@each $name, $hex in $colors {
		&-#{$name}-background-color {
		#{$attribute}: $hex;
		}
	}
}

.has {
	@include color-bg-modifiers-gutenberg('background-color');
}
